@import "~bootstrap/scss/bootstrap";



.card{
    box-shadow: 0 2px 4px rgba(204,204,204, 0.8);
    padding:20px 40px;
}

h1{
    margin-bottom:30px;
}

.navbar{
    background-color: $primary;
    a{
        color: #ffffff;
    }
}

.sub-nav{
    background-color: #ffffff;
    box-shadow:0 5px 10px 0 rgba(204,204,204, 0.3);
    margin-bottom:40px;
    a{
        color: $primary;
    }
}